:root {
  --light-blue: #e7ebf0;
  /* --light-grey: #e4e5e6; */
  --light-grey: rgb(228, 233, 233);
  --aliceblue: aliceblue;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-family: "Oswald", sans-serif; */
  font-family: cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
